@model ImoAnalytics.Models.Proposta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Proposta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imovel.TituloImovel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imovel.TituloImovel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interessado.NomeCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interessado.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
