<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="container-fluid header">
            <div class="col-md-2 center">
                <h1 class="primary-color brand-text">ImoAnalytics</h1>
            </div>
            <div class="col-md-8 center">
                <ul class="nav nav-pills">
                    <li class="dropdown">
                        <a class="dropdown-toggle primary-color" data-toggle="dropdown">Imóveis  <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Criar imóvel", "Create", "Imovel")</li>
                            <li>@Html.ActionLink("Lista de imóvel", "Index", "Imovel")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle primary-color" data-toggle="dropdown">Proprietários  <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Criar proprietário", "Create", "Proprietario")</li>
                            <li>@Html.ActionLink("Lista de proprietários", "Index", "Proprietario")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle primary-color" data-toggle="dropdown">Corretores  <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (User.IsInRole("Gerente"))
                            {
                                <li>@Html.ActionLink("Cadastrar corretor", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            }
                            <li>@Html.ActionLink("Lista de Corretores", "Index", "Corretor")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle primary-color" data-toggle="dropdown">Interessados  <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Criar interessado", "Create", "Interessado")</li>
                            <li>@Html.ActionLink("Lista de interessados", "Index", "Interessado")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle primary-color" data-toggle="dropdown">Fiadores  <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Criar fiador", "Create", "Fiador")</li>
                            <li>@Html.ActionLink("Lista de fiadores", "Index", "Fiador")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle primary-color" data-toggle="dropdown">Vendas  <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Criar venda", "Create", "Venda")</li>
                            <li>@Html.ActionLink("Lista de vendas", "Index", "Venda")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle primary-color" data-toggle="dropdown">Locações  <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Criar locação", "Create", "Locacao")</li>
                            <li>@Html.ActionLink("Lista de locações", "Index", "Locacao")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle primary-color" data-toggle="dropdown">Visitas  <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Criar visita", "Create", "Visita")</li>
                            <li>@Html.ActionLink("Lista de visitas", "Index", "Visita")</li>
                        </ul>
                    </li>
                    <li><a href="relatorios.html" class="primary-color">Relatórios</a></li>
                </ul>
            </div>
            <div class="col-md-2 center">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </header>
    @if (ViewBag.Imoveis == true)
    {
        <div class="body-content">
            @RenderBody()
            <hr />
        </div>
    }
    else
    {
        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>
    }


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")
    @RenderSection("scripts", required: false)
</body>
</html>
