@model ImoAnalyticsSystem.Models.Visita

@{
    ViewBag.Title = "Tem certeza que deseja deletar a visita realizada ao imóvel " + Model.Imovel.CodigoReferencia + " no dia " + Model.Data + "?";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h3 class="panel-title">@ViewBag.Title</h3>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.Corretor.NomeCompleto): </b> @Html.DisplayFor(model => model.Corretor.NomeCompleto)</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>Código do @Html.DisplayNameFor(model => model.Imovel): </b> @Html.DisplayFor(model => model.Imovel.CodigoReferencia)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.Interessado): </b> @Html.DisplayFor(model => model.Interessado.NomeCompleto)</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.Data): </b> @Html.DisplayFor(model => model.Data)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.Horario): </b> @Html.DisplayFor(model => model.Horario)</p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">@Html.DisplayNameFor(model => model.Descricao)</h3>
    </div>
    <div class="panel-body">
        <p>@Html.DisplayFor(model => model.Descricao)</p>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Excluir" class="principal-button" /> <br /><br />
        <a href="@Url.Action("Index", "Visita")" title="Voltar para a listagem" class="voltar-icon"><i class="fa fa-arrow-left"></i></a>
    </div>
}
