@model ImoAnalyticsSystem.Models.Imobiliaria

@{
    ViewBag.Title = "Informações da imobiliária";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <h3 class="panel-title">@ViewBag.Title</h3>
            </div>
            <div class="col-md-4 icons-edit-remove">
                <a href="@Url.Action("Edit", "Imobiliaria", new { id = Model.ID })" title="Editar informações da imobiliária"><i class="fa fa-edit"></i></a>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.NomeImobiliaria): </b> @Html.DisplayFor(model => model.NomeImobiliaria)</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.Endereco): </b> @Html.DisplayFor(model => model.Endereco)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.TelefoneContato): </b> @Html.DisplayFor(model => model.TelefoneContato)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.EmailContato): </b> @Html.DisplayFor(model => model.EmailContato)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.ComissaoImobiliariaVenda): </b> @Html.DisplayFor(model => model.ComissaoImobiliariaVenda)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.ComissaoCorretorVenda): </b> @Html.DisplayFor(model => model.ComissaoCorretorVenda)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.TaxaAdministracaoLocacao): </b> @Html.DisplayFor(model => model.TaxaAdministracaoLocacao)</p>
            </div>
        </div>
    </div>
</div>