
@{
    ViewBag.Title = "Lista de relatórios padrão do sistema";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Title</h3>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-12">
            <p>@Html.ActionLink("Preço médio de venda atualmente", "PrecoMedioVendaAtual", "Relatorio")</p>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-12">
            <p>@Html.ActionLink("Preço médio de locação atualmente", "PrecoMedioLocacaoAtual", "Relatorio")</p>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-12">
            <p>@Html.ActionLink("Vendas feitas por corretor nos últimos 4 meses", "VendasPorCorretorUltimosQuatroMeses", "Relatorio")</p>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-12">
            <p>@Html.ActionLink("Vendas X Locação nos últimos 4 meses", "OperacoesUltimosQuatroMeses", "Relatorio")</p>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-12">
            <p>@Html.ActionLink("Estatísticas de determinado bairro", "EstatisticaBairros", "Relatorio")</p>
        </div>
    </div>
</div>
