@model ImoAnalyticsSystem.ViewModels.RelatorioViewModel
@{
    ViewBag.Title = "Relatório gerado com filtros";
}

@using (Html.BeginForm())
{
    <div class="col-md-3">
        <div class="panel panel-primary filter">
            <div class="panel-heading">
                    <h3 class="panel-title">Filtros</h3>
            </div>

            <div class="panel-body filter-body">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="primary-color-row row">
                    <div class="col-md-12">
                        <p>@Html.LabelFor(m => m.TituloRelatorio)</p>
                    </div>
                    <div class="col-md-12">
                        <div class="group">
                            @Html.EditorFor(model => model.TituloRelatorio, new { htmlAttributes = new { @type = "text", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.TituloRelatorio).ToHtmlString()), @class = "effect-1"} })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row">
                    <div class="col-md-12">
                        <div class="group">
                            @Html.CheckBoxFor(model => model.Privado, new { @style = "margin-top: 20px;" })
                            @Html.LabelFor(model => model.Privado)
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row">
                    <div class="col-md-12">
                        <p>Tipo de relatório<i class="fa fa-info-circle" style="padding-left: 10px;" data-toggle="tooltip" data-placement="right" title="Cada vez que o campo tipo relatório for alterado, os campos serão limpados"></i></p>
                    </div>
                    <div class="col-md-12">
                        @Html.RadioButtonFor(m => m.TipoRelatorio, (int)TipoRelatorio.Imovel, new { id = TipoRelatorio.Imovel }) <label for="Imovel">Imóvel</label>
                    </div>
                    <div class="col-md-12">
                        @Html.RadioButtonFor(m => m.TipoRelatorio, (int)TipoRelatorio.Acao, new { id = TipoRelatorio.Acao }) <label for="Acao">Locação/Venda/Visita</label>
                    </div>
                    <div class="col-md-12">
                        @Html.RadioButtonFor(m => m.TipoRelatorio, (int)TipoRelatorio.Estatisticas, new { id = TipoRelatorio.Estatisticas }) <label for="Estatisticas">Estatísticas Gerais</label>
                    </div>
                </div>
                <div class="primary-color-row row acao-filter">
                    <div class="col-md-12">
                        <p>Tipo da ação<i class="fa fa-info-circle" style="padding-left: 10px;" data-toggle="tooltip" data-placement="right" title="O campo só será habilitado quando a opção Locação/Venda/Visita em Tipo Relatório for marcada"></i></p>
                    </div>
                    <div class="col-md-12">
                        @Html.RadioButtonFor(m => m.TipoAcao, (int)TipoAcao.Locacao, new { id = TipoAcao.Locacao, @disabled = "true" }) <label for="Locacao">Locação</label>
                    </div>
                    <div class="col-md-12">
                        @Html.RadioButtonFor(m => m.TipoAcao, (int)TipoAcao.Venda, new { id = TipoAcao.Venda, @disabled = "true" }) <label for="Venda">Venda</label>
                    </div>
                    <div class="col-md-12">
                        @Html.RadioButtonFor(m => m.TipoAcao, (int)TipoAcao.Visita, new { id = TipoAcao.Visita, @disabled = "true" }) <label for="Visita">Visita</label>
                    </div>
                </div>
                <div class="primary-color-row row valor-venda-filter">
                    <div class="col-md-12">
                        <p>@Html.LabelFor(m => m.ValorVenda)<i class="fa fa-info-circle" style="padding-left: 10px;" data-toggle="tooltip" data-placement="right" title="O campo só será habilitado quando a opção Locação/Venda/Visita em Tipo Relatório e a opção Venda em Tipo da ação for marcada"></i></p>
                    </div>
                    <div class="col-md-12">
                        <div class="group">
                            @Html.EditorFor(model => model.ValorVenda, new { htmlAttributes = new { @type = "text", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ValorVenda).ToHtmlString()), @class = "effect-1 js-dinheiro", @disabled = "true" } })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row valor-locacao-filter">
                    <div class="col-md-12">
                        <p>@Html.LabelFor(m => m.ValorLocacao)<i class="fa fa-info-circle" style="padding-left: 10px;" data-toggle="tooltip" data-placement="right" title="O campo só será habilitado quando a opção Locação/Venda/Visita em Tipo Relatório e a opção Locaçãoz' em Tipo da ação for marcada"></i></p>
                    </div>
                    <div class="col-md-12">
                        <div class="group">
                            @Html.EditorFor(model => model.ValorLocacao, new { htmlAttributes = new { @type = "text", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ValorLocacao).ToHtmlString()), @class = "effect-1 js-dinheiro", @disabled = "true" } })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row imovel-filter acao-filter">
                    <div class="col-md-12">
                        <p>@Html.LabelFor(m => m.Endereco)</p>
                    </div>
                    <div class="col-md-12">
                        <div class="group">
                            @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @type = "text", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.Endereco).ToHtmlString()), @class = "effect-1", @disabled = "true" } })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row imovel-filter estatisticas-filter acao-filter">
                    <div class="col-md-12">
                        <p>@Html.LabelFor(m => m.Bairro)</p>
                    </div>
                    <div class="col-md-12">
                        <div class="group">
                            @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @type = "text", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.Bairro).ToHtmlString()), @class = "effect-1", @disabled = "true" } })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row imovel-filter estatisticas-filter acao-filter">
                    <div class="col-md-12">
                        <p>@Html.LabelFor(m => m.DataInicio)</p>
                    </div>
                    <div class="col-md-12">
                        <div class="group">
                            @Html.EditorFor(model => model.DataInicio, new { htmlAttributes = new { @type = "text", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.DataInicio).ToHtmlString()), @class = "effect-1 js-data", @disabled = "true" } })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row imovel-filter estatisticas-filter acao-filter">
                    <div class="col-md-12">
                        <p>@Html.LabelFor(m => m.DataFim)</p>
                    </div>
                    <div class="col-md-12">
                        <div class="group">
                            @Html.EditorFor(model => model.DataFim, new { htmlAttributes = new { @type = "text", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.DataFim).ToHtmlString()), @class = "effect-1 js-data", @disabled = "true" } })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row imovel-filter estatisticas-filter acao-filter">
                    <div class="col-md-12">
                        <p>Tipo de Imóvel</p>
                        @Html.DropDownList("tipoImovel", ViewBag.TipoImovelId as SelectList, "Selecione um tipo de imóvel", htmlAttributes: new { @class = "", @disabled = "true" })
                    </div>
                </div>
                <div class="primary-color-row row imovel-filter acao-filter">
                    <div class="col-md-12">
                        <p>@Html.LabelFor(m => m.QntdBanheiros)</p>
                    </div>
                    <div class="col-md-12">
                        <div class="group">
                            @Html.EditorFor(model => model.QntdBanheiros, new { htmlAttributes = new { @type = "number", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.QntdBanheiros).ToHtmlString()), @class = "effect-1", @disabled = "true" } })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row imovel-filter acao-filter">
                    <div class="col-md-12">
                        <p>@Html.LabelFor(m => m.QntdDormitorios)</p>
                    </div>
                    <div class="col-md-12">
                        <div class="group">
                            @Html.EditorFor(model => model.QntdDormitorios, new { htmlAttributes = new { @type = "number", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.QntdDormitorios).ToHtmlString()), @class = "effect-1", @disabled = "true" } })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row imovel-filter acao-filter">
                    <div class="col-md-12">
                        <p>@Html.LabelFor(m => m.QntdSuites)</p>
                    </div>
                    <div class="col-md-12">
                        <div class="group">
                            @Html.EditorFor(model => model.QntdSuites, new { htmlAttributes = new { @type = "number", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.QntdSuites).ToHtmlString()), @class = "effect-1", @disabled = "true" } })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row imovel-filter acao-filter">
                    <div class="col-md-12">
                        <p>@Html.LabelFor(m => m.QntdVagasGaragem)</p>
                    </div>
                    <div class="col-md-12">
                        <div class="group">
                            @Html.EditorFor(model => model.QntdVagasGaragem, new { htmlAttributes = new { @type = "number", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.QntdVagasGaragem).ToHtmlString()), @class = "effect-1", @disabled = "true" } })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="row buttons-row">
                    <div class="col-md-12 center">
                        <input type="submit" value="Gerar Relatório" class="principal-button" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        $("input:radio[name='TipoRelatorio']").change(function () {
            if ($("input[name='TipoRelatorio']:checked").val() == 1) {
                $(".estatisticas-filter input").val("");
                $(".estatisticas-filter input").prop("disabled", true);
                $(".acao-filter input[type='text']").val("");
                $(".acao-filter input[type='number']").val("");
                $(".acao-filter input").prop("disabled", true);
                $(".valor-locacao-filter input").val("");
                $(".valor-locacao-filter input").prop("disabled", true);
                $(".valor-venda-filter input").val("");
                $(".valor-venda-filter input").prop("disabled", true);
                $(".imovel-filter input").removeAttr("disabled");
                $(".imovel-filter select").removeAttr("disabled");
                $("input[name='TipoAcao']").prop("checked", false);
            }
            if ($("input[name='TipoRelatorio']:checked").val() == 2) {
                $(".estatisticas-filter input").val("");
                $(".estatisticas-filter input").prop("disabled", true);
                $(".imovel-filter input").val("");
                $(".valor-locacao-filter input").val("");
                $(".valor-locacao-filter input").prop("disabled", true);
                $(".valor-venda-filter input").val("");
                $(".valor-venda-filter input").prop("disabled", true);
                $(".imovel-filter input").prop("disabled", true);
                $(".acao-filter input").removeAttr("disabled");
                $(".acao-filter select").removeAttr("disabled");
                $("input[name='TipoAcao']").prop("checked", false);
            }
            if ($("input[name='TipoRelatorio']:checked").val() == 3) {
                $(".estatisticas-filter input").val("");
                $(".estatisticas-filter input").prop("disable", true);
                $(".valor-locacao-filter input").val("");
                $(".valor-locacao-filter input").prop("disable", true);
                $(".valor-venda-filter input").val("");
                $(".valor-venda-filter input").prop("disabled", true);
                $(".acao-filter input[text]").val("");
                $(".acao-filter input[type='text']").val("");
                $(".acao-filter input[type='number']").val("");
                $(".acao-filter input").prop("disabled", true);
                $(".estatisticas-filter input").removeAttr("disabled");
                $(".estatisticas-filter select").removeAttr("disabled");
                $("input[name='TipoAcao']").prop("checked", false);
            }
        });

        $("input:radio[name='TipoAcao']").change(function () {
            if ($("input[name='TipoAcao']:checked").val() == 2) {
                $(".valor-locacao-filter input").prop("disabled", true);
                $(".valor-locacao-filter input").val("");
                $(".valor-venda-filter input").removeAttr("disabled");
            }
            if ($("input[name='TipoAcao']:checked").val() == 1) {
                $(".valor-venda-filter input").prop("disabled", true);
                $(".valor-venda-filter input").val("");
                $(".valor-locacao-filter input").removeAttr("disabled");
            }
            if ($("input[name='TipoAcao']:checked").val() == 3) {
                $(".valor-venda-filter input").val("");
                $(".valor-venda-filter input").prop("disabled", true);
                $(".valor-locacao-filter input").val("");
                $(".valor-locacao-filter input").pop("disable", true);
            }
        });
    });
</script>