@using ImoAnalyticsSystem.ViewModels.IdentityViewModels
@model ChangePasswordViewModel
@{
    ViewBag.Title = "Alterar senha";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary panel-login">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-12">
                    <div class="group">
                        <p>@Html.LabelFor(model => model.OldPassword)</p>
                        @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @type = "password", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.OldPassword).ToHtmlString()), @class = "effect-1" } })
                        <span class="focus-border"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="group">
                        <p>@Html.LabelFor(model => model.NewPassword)</p>
                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @type = "password", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.NewPassword).ToHtmlString()), @class = "effect-1" } })
                        <span class="focus-border"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="group">
                        <p>@Html.LabelFor(model => model.ConfirmPassword)</p>
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @type = "password", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ConfirmPassword).ToHtmlString()), @class = "effect-1" } })
                        <span class="focus-border"></span>
                    </div>
                </div>
            </div>
            <div class="row buttons-row">
                <div class="col-md-12 center">
                    <input type="submit" value="Mudar senha" class="principal-button" />
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}