@using ImoAnalyticsSystem.ViewModels.IdentityViewModels
@model IndexViewModel
@{
    ViewBag.Title = "Detalhes da conta";
}

@if (ViewBag.StatusMessage != "")
{
    <div class="alert alert-success" role="alert">
        @ViewBag.StatusMessage
    </div>
}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="panel-title">@ViewBag.Title</h3>
                </div>
                <div class="col-md-4 icons-edit-remove">
                    <a href="@Url.Action("Edit", "Manage", null)" title="Editar informações"><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("ChangePassword", "Manage", null)" title="Alterar senha"><i class="fa fa-key"></i></a>
                </div>
            </div>
        </div>
        <div class="primary-color-row row">
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <p><b>@Html.DisplayNameFor(model => model.CurrentCorretor.NomeCompleto):</b> @Html.DisplayFor(model => model.CurrentCorretor.NomeCompleto)</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <p><b>@Html.DisplayNameFor(model => model.CurrentCorretor.Cpf):</b> @Html.DisplayFor(model => model.CurrentCorretor.Cpf)</p>
                </div>
            </div>
        </div>
        <div class="primary-color-row row">
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <p><b>@Html.DisplayNameFor(model => model.CurrentCorretor.Rg):</b> @Html.DisplayFor(model => model.CurrentCorretor.Rg)</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <p><b>@Html.DisplayNameFor(model => model.CurrentCorretor.DataNascimento):</b> @Html.DisplayFor(model => model.CurrentCorretor.DataNascimento)</p>
                </div>
            </div>
        </div>
        <div class="primary-color-row row">
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <p><b>@Html.DisplayNameFor(model => model.CurrentCorretor.PhoneNumber):</b> @Html.DisplayFor(model => model.CurrentCorretor.PhoneNumber)</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <p><b>@Html.DisplayNameFor(model => model.CurrentCorretor.Cep):</b> @Html.DisplayFor(model => model.CurrentCorretor.Cep)</p>
                </div>
            </div>
        </div>
        <div class="primary-color-row row">
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <p><b>@Html.DisplayNameFor(model => model.CurrentCorretor.Endereco):</b> @Html.DisplayFor(model => model.CurrentCorretor.Endereco)</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <p><b>@Html.DisplayNameFor(model => model.CurrentCorretor.Numero):</b> @Html.DisplayFor(model => model.CurrentCorretor.Numero)</p>
                </div>
            </div>
        </div>
        <div class="primary-color-row row">
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <p><b>@Html.DisplayNameFor(model => model.CurrentCorretor.Bairro):</b> @Html.DisplayFor(model => model.CurrentCorretor.Bairro)</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <p><b>@Html.DisplayNameFor(model => model.CurrentCorretor.Cidade):</b> @Html.DisplayFor(model => model.CurrentCorretor.Cidade)</p>
                </div>
            </div>
        </div>
        <div class="primary-color-row row">
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <p><b>@Html.DisplayNameFor(model => model.CurrentCorretor.Estado):</b> @Html.DisplayFor(model => model.CurrentCorretor.Estado)</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <p><b>Papel: </b>
                    @if (Model.IsGerente)
                    {
                        @:Gerente
                    }
                    else
                    {
                        @:Corretor
                    }
                    </p>
                </div>
            </div>
        </div>
        <div class="primary-color-row row">
            <div class="col-sm-6">
                <div class="col-sm-6">
                    <p><b>@Html.DisplayNameFor(model => model.CurrentCorretor.Creci):</b> @Html.DisplayFor(model => model.CurrentCorretor.Creci)</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <p><b>Ativo: </b>
                    @if (Model.CurrentCorretor.Ativo)
                    {
                        @:Sim
                    }
                    else
                    {
                        @:Não
                    }
                    </p>
            </div>
        </div>
    </div>