@model ImoAnalyticsSystem.Models.Locacao

@{
    ViewBag.Title = "Detalhes da venda código " + Model.CodigoLocacao;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <h3 class="panel-title">@ViewBag.Title</h3>
            </div>
            <div class="col-md-4 icons-edit-remove">
                <a href="@Url.Action("Edit", "Locacao", new { id = Model.ID })" title="Editar locacação"><i class="fa fa-edit"></i></a>
                <a href="@Url.Action("Delete", "Locacao", new { id = Model.ID })" title="Remover locacação"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.DataOperacao):</b> @Html.DisplayFor(model => model.DataOperacao)</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>Código do @Html.DisplayNameFor(model => model.Imovel): </b> @Html.DisplayFor(model => model.Imovel.CodigoReferencia)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.Interessado): </b> @Html.DisplayFor(model => model.Interessado.NomeCompleto)</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.Fiador):</b> @Html.DisplayFor(model => model.Fiador.NomeCompleto)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.ContratoDeLocacao.DataInicio):</b> @Html.DisplayFor(model => model.ContratoDeLocacao.DataInicio)</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.ContratoDeLocacao.DataFim):</b> @Html.DisplayFor(model => model.ContratoDeLocacao.DataFim)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-6">
            <div class="col-md-6">
                <p><b>@Html.DisplayNameFor(model => model.ContratoDeLocacao.Valor):</b> @Html.DisplayFor(model => model.ContratoDeLocacao.Valor)</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <p><b>@Html.DisplayNameFor(model => model.ContratoDeLocacao.ValorTaxaAdm):</b> @Html.DisplayFor(model => model.ContratoDeLocacao.ValorTaxaAdm)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-6">
            <div class="col-md-6">
                <p><b>@Html.DisplayNameFor(model => model.ContratoDeLocacao.DataPagamento):</b> @Html.DisplayFor(model => model.ContratoDeLocacao.DataPagamento)</p>
            </div>
        </div>
    </div>
</div>

<a href="@Url.Action("Index", "Locacao")" title="Voltar para a listagem" class="voltar-icon"><i class="fa fa-arrow-left"></i></a>