@model ImoAnalyticsSystem.ViewModels.LocacaoViewModel

@{
    ViewBag.Title = "Editar locação código " + Model.CodigoLocacao;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.LocacaoId)
            <input type="hidden" value="@ViewBag.IdImovelAntigo" name="IdImovelAntigo" />
            <div class="row">
                <div class="col-sm-6">
                    <div class="group">
                        <p>@Html.LabelFor(m => m.DataOperacao)</p>
                        @Html.EditorFor(model => model.DataOperacao, new { htmlAttributes = new { @type = "text", @class = "effect-1 js-data" } })
                        <span class="focus-border"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group">
                        <p>@Html.LabelFor(m => m.CodigoLocacao)</p>
                        @Html.EditorFor(model => model.CodigoLocacao, new { htmlAttributes = new { @type = "text", @class = "effect-1" } })
                        <span class="focus-border"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="group">
                        <p>@Html.LabelFor(model => model.ImovelId)</p>
                        @Html.DropDownList("ImovelId", null, htmlAttributes: new { @class = "" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group">
                        <p>@Html.LabelFor(model => model.InteressadoId)</p>
                        @Html.DropDownList("InteressadoId", null, htmlAttributes: new { @class = "" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="group">
                        <p>@Html.LabelFor(model => model.FiadorId)</p>
                        @Html.DropDownList("FiadorId", null, htmlAttributes: new { @class = "" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group">
                        <p>@Html.LabelFor(model => model.Valor)</p>
                        @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @type = "text", @class = "effect-1 js-dinheiro" } })
                        <span class="focus-border"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="group">
                        <p>@Html.LabelFor(model => model.DataInicio)</p>
                        @Html.EditorFor(model => model.DataInicio, new { htmlAttributes = new { @type = "text", @class = "effect-1 js-data" } })
                        <span class="focus-border"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group">
                        <p>@Html.LabelFor(model => model.DataFim)</p>
                        @Html.EditorFor(model => model.DataFim, new { htmlAttributes = new { @type = "text", @class = "effect-1 js-data" } })
                        <span class="focus-border"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="group">
                        <p>@Html.LabelFor(model => model.DataPagamento)</p>
                        @Html.EditorFor(model => model.DataPagamento, new { htmlAttributes = new { @type = "number", @class = "effect-1" } })
                        <span class="focus-border"></span>
                    </div>
                </div>
            </div>
            <div class="row buttons-row">
                <div class="col-md-12 center">
                    <input type="submit" value="Salvar" class="principal-button" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
