@model ImoAnalyticsSystem.Models.Interessado

@{
    ViewBag.Title = "Detalhes do interessado " + Model.NomeCompleto;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <h3 class="panel-title">@ViewBag.Title</h3>
            </div>
            <div class="col-md-4 icons-edit-remove">
                <a href="@Url.Action("Edit", "Interessado", new { id = Model.ID })" title="Editar proprietário"><i class="fa fa-edit"></i></a>
                <a href="@Url.Action("Delete", "Interessado", new { id = Model.ID })" title="Remover proprietário"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <p><b>@Html.DisplayNameFor(model => model.NomeCompleto): </b> @Html.DisplayFor(model => model.NomeCompleto)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12">
                <p><b>@Html.DisplayNameFor(model => model.Cpf): </b> @Html.DisplayFor(model => model.Cpf)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <p><b>@Html.DisplayNameFor(model => model.Rg): </b> @Html.DisplayFor(model => model.Rg)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12">
                <p><b>@Html.DisplayNameFor(model => model.DataNascimento): </b> @Html.DisplayFor(model => model.DataNascimento)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <p><b>@Html.DisplayNameFor(model => model.Telefone): </b> @Html.DisplayFor(model => model.Telefone)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12">
                <p><b>@Html.DisplayNameFor(model => model.Cep): </b> @Html.DisplayFor(model => model.Cep)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <p><b>@Html.DisplayNameFor(model => model.Endereco): </b> @Html.DisplayFor(model => model.Endereco)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12">
                <p><b>@Html.DisplayNameFor(model => model.Numero): </b> @Html.DisplayFor(model => model.Numero)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <p><b>@Html.DisplayNameFor(model => model.Bairro): </b> @Html.DisplayFor(model => model.Bairro)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12">
                <p><b>@Html.DisplayNameFor(model => model.Cidade): </b> @Html.DisplayFor(model => model.Cidade)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <p><b>@Html.DisplayNameFor(model => model.Estado): </b> @Html.DisplayFor(model => model.Estado)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12">
                <p><b>@Html.DisplayNameFor(model => model.Email): </b> @Html.DisplayFor(model => model.Email)</p>
            </div>
        </div>
    </div>
</div>

<a href="@Url.Action("Index", "Interessado")" title="Voltar para a listagem" class="voltar-icon"><i class="fa fa-arrow-left"></i></a>