@model ImoAnalyticsSystem.Models.Proposta

@{
    ViewBag.Title = "Criar proposta";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="group" >
                        @Html.LabelFor(model => model.Imovel)
                        @Html.DropDownList("ImovelId", ViewBag.ImovelId as SelectList, htmlAttributes: new { @class = "", @disabled = "true" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="group">
                        <p> @Html.LabelFor(model => model.Interessado) </p>
                        @Html.DropDownList("InteressadoId", ViewBag.InteressadoId as SelectList, htmlAttributes: new { @class = "" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="group">
                        <p> @Html.LabelFor(model => model.Data) </p>
                        @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @type = "text", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.Data).ToHtmlString()), @class = "effect-1 js-data" } })
                        <span class="focus-border"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="group">
                        <p> @Html.LabelFor(model => model.Valor) </p>
                        @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.Valor).ToHtmlString()), @class = "effect-1 js-dinheiro" } })
                        <span class="focus-border"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="group">
                        <p> @Html.LabelFor(model => model.TipoProposta) </p>

                        @if (ViewBag.IsVenda == true)
                        {
                            @Html.RadioButtonFor(model => model.TipoProposta, "Venda")@:Venda
                        }
                        @if (ViewBag.IsLocacao == true)
                        {
                            @Html.RadioButtonFor(model => model.TipoProposta, "Locacao")@:Locação
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="group">
                        <p> @Html.LabelFor(model => model.ComissaoProposta) </p>
                        @Html.EditorFor(model => model.ComissaoProposta, new { htmlAttributes = new { @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ComissaoProposta).ToHtmlString()), @class = "effect-1" } })
                        <span class="focus-border"></span>
                    </div>
                </div>
            </div>

            <div class="row buttons-row">
                <div class="col-md-6 center">
                    <input type="submit" value="Cadastrar" class="principal-button" />
                </div>
                <div class="col-md-6 center">
                    <div class="principal-button-div">@Html.ActionLink("Limpar", "Create")</div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
