@model ImoAnalyticsSystem.Models.Proposta

@{
    ViewBag.Title = "Detalhe da proposta realizada em " + Model.Data + " para o imóvel " + Model.Imovel.CodigoReferencia;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <h3 class="panel-title">@ViewBag.Title</h3>
            </div>
            <div class="col-md-4 icons-edit-remove">
                <a href="@Url.Action("Edit", "Proposta", new { id = Model.ID })" title="Editar proposta"><i class="fa fa-edit"></i></a>
                <a href="@Url.Action("Delete", "Proposta", new { id = Model.ID })" title="Remover proposta"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.Imovel.CodigoReferencia): </b> @Html.DisplayFor(model => model.Imovel.CodigoReferencia)</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.Interessado.NomeCompleto): </b> @Html.DisplayFor(model => model.Interessado.NomeCompleto)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.Data): </b> @Html.DisplayFor(model => model.Data)</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.Valor): </b> @Html.DisplayFor(model => model.Valor)</p>
            </div>
        </div>
    </div>
</div>
