@model IEnumerable<ImoAnalytics.Models.Imovel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoImovel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cartorio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proprietario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoImovel.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cartorio.NomeCartorio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proprietario.NomeCompleto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
