@model ImoAnalyticsSystem.Models.Imovel

@{
    ViewBag.Title = "Detalhes do imóvel código " + Model.CodigoReferencia;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <h3 class="panel-title">@ViewBag.Title</h3>
            </div>
            <div class="col-md-4 icons-edit-remove">
                <a href="@Url.Action("Edit", "Imovel", new { id = Model.ID })" title="Editar imóvel"><i class="fa fa-edit"></i></a>
                <a href="@Url.Action("Delete", "Imovel", new { id = Model.ID })" title="Remover imóvel"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                @if (Model.Files.Any(f => f.FileType == ImoAnalyticsSystem.Models.FileType.Foto))
                {
                    <img src="~/File?id=@Model.Files.First(f => f.FileType == ImoAnalyticsSystem.Models.FileType.Foto).ID" alt="foto-imovel" class="build-image" />
                }
                else
                {
                    <img src=@Url.Content( "~/Content/Images/imovel-sem-foto.jpg") alt="foto-imovel" class="build-image" />
                }
            </div>
                        <div class="col-md-6">
                    <div class="primary-color-row row">
                        <div class="col-md-6">
                            <p><b>@Html.DisplayNameFor(model => model.ValorLocacao): </b> @Html.DisplayFor(model => model.ValorLocacao)</p>
                        </div>
                        <div class="col-md-6">
                            <p><b>@Html.DisplayNameFor(model => model.ValorVenda): </b> @Html.DisplayFor(model => model.ValorVenda)</p>
                        </div>
                    </div>
                    <div class="primary-color-row row">
                        <div class="col-md-12">
                            <p><b>@Html.DisplayNameFor(model => model.Endereco): </b> @Html.DisplayFor(model => model.Endereco)</p>
                        </div>
                    </div>
                    <div class="primary-color-row row">
                        <div class="col-md-4">
                            <p><b>@Html.DisplayNameFor(model => model.Numero): </b> @Html.DisplayFor(model => model.Numero)</p>
                        </div>
                        <div class="col-md-4">
                            <p><b>@Html.DisplayNameFor(model => model.Bairro): </b> @Html.DisplayFor(model => model.Bairro)</p>
                        </div>
                        <div class="col-md-4">
                            <p><b>@Html.DisplayNameFor(model => model.Cep): </b> @Html.DisplayFor(model => model.Cep)</p>
                        </div>
                    </div>
                    <div class="primary-color-row row">
                        <div class="col-md-4">
                            <p><b>@Html.DisplayNameFor(model => model.Cidade): </b> @Html.DisplayFor(model => model.Cidade)</p>
                        </div>
                        <div class="col-md-4">
                            <p><b>@Html.DisplayNameFor(model => model.Estado): </b> @Html.DisplayFor(model => model.Estado)</p>
                        </div>
                        <div class="col-md-4">
                            <p><b>@Html.DisplayNameFor(model => model.ValorIptu): </b> @Html.DisplayFor(model => model.ValorIptu)</p>
                        </div>
                    </div>
                    <div class="primary-color-row row">
                        <div class="col-md-6">
                            <p><b>@Html.DisplayNameFor(model => model.Proprietario): </b> @Html.DisplayFor(model => model.Proprietario.NomeCompleto)</p>
                        </div>
                        <div class="col-md-6">
                            <p><b>@Html.DisplayNameFor(model => model.ValorCondominio): </b> @Html.DisplayFor(model => model.ValorCondominio)</p>
                        </div>
                    </div>
                    <div class="primary-color-row row">
                        <div class="col-md-12">
                            <p><b>@Html.DisplayNameFor(model => model.TipoImovel): </b> @Html.DisplayFor(model => model.TipoImovel.Tipo)</p>
                        </div>
                    </div>
                    <div class="primary-color-row row">
                        <div class="col-md-8">
                            <p><b>@Html.DisplayNameFor(model => model.NomeCondominio): </b> @Html.DisplayFor(model => model.NomeCondominio)</p>
                        </div>
                        <div class="col-md-4">
                            <p><b>@Html.DisplayNameFor(model => model.AnoConstrucao): </b> @Html.DisplayFor(model => model.AnoConstrucao)</p>
                        </div>
                    </div>
                    <div class="primary-color-row row">
                        <div class="col-md-4">
                            <p><b>@Html.DisplayNameFor(model => model.AreaTotal): </b> @Html.DisplayFor(model => model.AreaTotal)</p>
                        </div>
                        <div class="col-md-4">
                            <p><b>@Html.DisplayNameFor(model => model.AreaPrivada): </b> @Html.DisplayFor(model => model.AreaPrivada)</p>
                        </div>
                        <div class="col-md-4">
                            <p><b>@Html.DisplayNameFor(model => model.QntDormitorios): </b> @Html.DisplayFor(model => model.QntDormitorios)</p>
                        </div>
                    </div>
                    <div class="primary-color-row row">
                        <div class="col-md-4">
                            <p><b>@Html.DisplayNameFor(model => model.QntSuites): </b> @Html.DisplayFor(model => model.QntSuites)</p>
                        </div>
                        <div class="col-md-4">
                            <p><b>@Html.DisplayNameFor(model => model.QntBanheiros): </b> @Html.DisplayFor(model => model.QntBanheiros)</p>
                        </div>
                        <div class="col-md-4">
                            <p><b>@Html.DisplayNameFor(model => model.VagasGaragem): </b> @Html.DisplayFor(model => model.VagasGaragem)</p>
                        </div>
                    </div>
                    <div class="primary-color-row row">
                        <div class="col-md-6">
                            <p><b>@Html.DisplayNameFor(model => model.Cartorio): </b> @Html.DisplayFor(model => model.Cartorio.NomeCartorio)</p>
                        </div>
                        <div class="col-md-6">
                            <p><b>@Html.DisplayNameFor(model => model.NumeroRegistroImovel): </b> @Html.DisplayFor(model => model.NumeroRegistroImovel)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<p><b>Quantidade de mudanças: </b> @Html.DisplayFor(model => model.HistoricoPrecos.Count)</p>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">@Html.DisplayNameFor(model => model.DescricaoImovel)</h3>
    </div>
    <div class="panel-body panel-body">
        <p>@Html.DisplayFor(model => model.DescricaoImovel)</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Visitas feitas ao imóvel</h3>
            </div>
            <div class="header-row row">
                <div class="col-md-7">
                    <p>Interessado</p>
                </div>
                <div class="col-md-4">
                    <p>Data</p>
                </div>
            </div>
            @foreach (var v in ViewBag.visitas)
            {
                <div class="primary-color-row row">
                    <div class="col-md-7">
                        <p>@v.Interessado.NomeCompleto</p>
                    </div>
                    <div class="col-md-4">
                        <p>@v.Data.ToShortDateString()</p>
                    </div>
                    <div class="col-md-1">
                        <a class="link-more" href="@Url.Action("Details", "Visita", new { id = v.ID })" title="Mais informações"><i class="fa fa-ellipsis-h"></i></a>
                    </div>
                </div>
            }
        </div>
    </div>


    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="panel-title">Propostas feitas ao imóvel</h3>
                    </div>
                    <div class="col-md-4 icons-edit-remove">
                        <a class="link-more" href="@Url.Action("Create", "Proposta", new { ImovelId = Model.ID })" title="Adicionar proposta"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="header-row row">
                <div class="col-md-5">
                    <p>Interessado</p>
                </div>
                <div class="col-md-3">
                    <p>Valor</p>
                </div>
                <div class="col-md-3">
                    <p>Data</p>
                </div>
            </div>

                @foreach (var p in ViewBag.propostas)
                {
                    <div class="primary-color-row row">
                        <div class="col-md-5">
                            <p>@p.Interessado.NomeCompleto</p>
                        </div>
                        <div class="col-md-3">
                            <p>@p.Valor</p>
                        </div>
                        <div class="col-md-3">
                            <p>@p.Data.ToShortDateString()</p>
                        </div>
                        <div class="col-md-1">
                            <a class="link-more" href="@Url.Action("Details", "Proposta", new { id = p.ID })" title="Mais informações"><i class="fa fa-ellipsis-h"></i></a>
                        </div>
                    </div>
                }
        </div>
    </div>
</div>

<a href="@Url.Action("Index", "Imovel")" title="Voltar para a listagem" class="voltar-icon"><i class="fa fa-arrow-left"></i></a>
