@model ImoAnalyticsSystem.Models.Imovel

@{
    ViewBag.Title = "Detalhes do imóvel código " + Model.CodigoReferencia;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <h3 class="panel-title">@ViewBag.Title</h3>
            </div>
            <div class="col-md-4 icons-edit-remove">
                <a href="@Url.Action("Edit", "Imovel", new { id = Model.ID })" title="Editar imóvel"><i class="fa fa-edit"></i></a>
                <a href="@Url.Action("Delete", "Imovel", new { id = Model.ID })" title="Remover imóvel"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                @if (Model.Files.Any(f => f.FileType == ImoAnalyticsSystem.Models.FileType.Foto))
                {
                    <img src="~/File?id=@Model.Files.First(f => f.FileType == ImoAnalyticsSystem.Models.FileType.Foto).ID" alt="foto-imovel" class="build-image" />
                }
                else
                {
                    <img src=@Url.Content( "~/Content/Images/imovel-sem-foto.jpg") alt="foto-imovel" class="build-image" />
                }
            </div>
                        <div class="col-md-6">
                    <div class="primary-color-row row">
                        <div class="col-md-6">
                            <p>@Html.DisplayNameFor(model => model.ValorLocacao): @Html.DisplayFor(model => model.ValorLocacao)</p>
                        </div>
                        <div class="col-md-6">
                            <p>@Html.DisplayNameFor(model => model.ValorVenda): @Html.DisplayFor(model => model.ValorVenda)</p>
                        </div>
                    </div>
                    <div class="primary-color-row row">
                        <div class="col-md-12">
                            <p>@Html.DisplayNameFor(model => model.Endereco): @Html.DisplayFor(model => model.Endereco)</p>
                        </div>
                    </div>
                    <div class="primary-color-row row">
                        <div class="col-md-4">
                            <p>@Html.DisplayNameFor(model => model.Numero): @Html.DisplayFor(model => model.Numero)</p>
                        </div>
                        <div class="col-md-4">
                            <p>@Html.DisplayNameFor(model => model.Bairro): @Html.DisplayFor(model => model.Bairro)</p>
                        </div>
                        <div class="col-md-4">
                            <p>@Html.DisplayNameFor(model => model.Cep): @Html.DisplayFor(model => model.Cep)</p>
                        </div>
                    </div>
                    <div class="primary-color-row row">
                        <div class="col-md-4">
                            <p>@Html.DisplayNameFor(model => model.Cidade): @Html.DisplayFor(model => model.Cidade)</p>
                        </div>
                        <div class="col-md-4">
                            <p>@Html.DisplayNameFor(model => model.Estado): @Html.DisplayFor(model => model.Estado)</p>
                        </div>
                        <div class="col-md-4">
                            <p>@Html.DisplayNameFor(model => model.ValorIptu): @Html.DisplayFor(model => model.ValorIptu)</p>
                        </div>
                    </div>
                    <div class="primary-color-row row">
                        <div class="col-md-6">
                            <p>@Html.DisplayNameFor(model => model.Proprietario): @Html.DisplayFor(model => model.Proprietario.NomeCompleto)</p>
                        </div>
                        <div class="col-md-6">
                            <p>@Html.DisplayNameFor(model => model.ValorCondominio): @Html.DisplayFor(model => model.ValorCondominio)</p>
                        </div>
                    </div>
                    <div class="primary-color-row row">
                        <div class="col-md-12">
                            <p>@Html.DisplayNameFor(model => model.TipoImovel): @Html.DisplayFor(model => model.TipoImovel.Tipo)</p>
                        </div>
                    </div>
                    <div class="primary-color-row row">
                        <div class="col-md-8">
                            <p>@Html.DisplayNameFor(model => model.NomeCondominio): @Html.DisplayFor(model => model.NomeCondominio)</p>
                        </div>
                        <div class="col-md-4">
                            <p>@Html.DisplayNameFor(model => model.AnoConstrucao): @Html.DisplayFor(model => model.AnoConstrucao)</p>
                        </div>
                    </div>
                    <div class="primary-color-row row">
                        <div class="col-md-4">
                            <p>@Html.DisplayNameFor(model => model.AreaTotal): @Html.DisplayFor(model => model.AreaTotal)</p>
                        </div>
                        <div class="col-md-4">
                            <p>@Html.DisplayNameFor(model => model.AreaPrivada): @Html.DisplayFor(model => model.AreaPrivada)</p>
                        </div>
                        <div class="col-md-4">
                            <p>@Html.DisplayNameFor(model => model.QntDormitorios): @Html.DisplayFor(model => model.QntDormitorios)</p>
                        </div>
                    </div>
                    <div class="primary-color-row row">
                        <div class="col-md-4">
                            <p>@Html.DisplayNameFor(model => model.QntSuites): @Html.DisplayFor(model => model.QntSuites)</p>
                        </div>
                        <div class="col-md-4">
                            <p>@Html.DisplayNameFor(model => model.QntBanheiros): @Html.DisplayFor(model => model.QntBanheiros)</p>
                        </div>
                        <div class="col-md-4">
                            <p>@Html.DisplayNameFor(model => model.VagasGaragem): @Html.DisplayFor(model => model.VagasGaragem)</p>
                        </div>
                    </div>
                    <div class="primary-color-row row">
                        <div class="col-md-6">
                            <p>@Html.DisplayNameFor(model => model.Cartorio): @Html.DisplayFor(model => model.Cartorio.NomeCartorio)</p>
                        </div>
                        <div class="col-md-6">
                            <p>@Html.DisplayNameFor(model => model.NumeroRegistroImovel): @Html.DisplayFor(model => model.NumeroRegistroImovel)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">@Html.DisplayNameFor(model => model.DescricaoImovel)</h3>
    </div>
    <div class="panel-body panel-body">
        <p>@Html.DisplayFor(model => model.DescricaoImovel)</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Visitas feitas ao imóvel</h3>
            </div>
            <div class="header-row row">
                <div class="col-md-7">
                    <p>Interessado</p>
                </div>
                <div class="col-md-4">
                    <p>Data</p>
                </div>
            </div>
            @foreach (var v in ViewBag.visitas)
            {
                <div class="primary-color-row row">
                    <div class="col-md-7">
                        <p>@v.Interessado.NomeCompleto</p>
                    </div>
                    <div class="col-md-4">
                        <p>@v.Data.ToShortDateString()</p>
                    </div>
                    <div class="col-md-1">
                        <a class="link-more" href="@Url.Action("Details", "Visita", new { id = v.ID })" title="Mais informações"><i class="fa fa-ellipsis-h"></i></a>
                    </div>
                </div>
            }
        </div>
    </div>
    @*<div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="panel-title">Propostas feitas ao imóvel</h3>
                    </div>
                    <div class="col-md-4 icons-edit-remove">
                        <a href="criarProposta.html" title="Adicionar proposta"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="header-row row">
                    <div class="col-md-4">
                        <p>Interessado</p>
                    </div>
                    <div class="col-md-4">
                        <p>Valor</p>
                    </div>
                    <div class="col-md-4">
                        <p>Data</p>
                    </div>
                </div>
                <div class="primary-color-row row">
                    <div class="col-md-4">
                        <p>INT1 - Vinicius Ueda</p>
                    </div>
                    <div class="col-md-4">
                        <p>RS101.000,00</p>
                    </div>
                    <div class="col-md-4">
                        <p>02/03/2018</p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>

<a href="@Url.Action("Index", "Imovel")" title="Voltar para a listagem" class="voltar-icon"><i class="fa fa-arrow-left"></i></a>
