@using PagedList.Mvc;
@model PagedList.IPagedList<ImoAnalyticsSystem.Models.Imovel>

@{
    ViewBag.Title = "Lista de imóveis";
}
@using (Html.BeginForm())
{
    <div class="col-md-3">
        <div class="panel panel-primary filter">
            <div class="panel-heading">
                <h3 class="panel-title">Filtros</h3>
            </div>
            <div class="panel-body filter-body">
                <div class="primary-color-row row">
                    <div class="col-sm-12">
                        <p>Disponível para: </p>
                    </div>
                    <div class="col-sm-6">
                        <div class="md-checkbox">
                            @Html.CheckBox("venda", (bool)ViewBag.CurrentVenda, new { @id = "venda"})
                            <label for="venda">Venda</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="md-checkbox">
                            @Html.CheckBox("locacao", (bool)ViewBag.CurrentLocacao, new { @id = "locacao"})
                            <label for="locacao">Locação</label>
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row">
                    <div class="col-md-12">
                        <p>Preço venda</p>
                    </div>
                    <div class="col-md-6">
                        <div class="group">
                            @Html.TextBox("vendaMin", ViewBag.CurrentVendaMin as string, new { @placeholder = HttpUtility.HtmlDecode("Mín."), @class = "effect-1 js-dinheiro" })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="group">
                            @Html.TextBox("vendaMax", ViewBag.CurrentVendaMax as string, new { @placeholder = HttpUtility.HtmlDecode("Max."), @class = "effect-1 js-dinheiro" })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row">
                    <div class="col-md-12">
                        <p>Preço locação</p>
                    </div>
                    <div class="col-md-6">
                        <div class="group">
                            @Html.TextBox("locacaoMin", ViewBag.CurrentLocacaoMin as string, new { @placeholder = HttpUtility.HtmlDecode("Mín."), @class = "effect-1 js-dinheiro" })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="group">
                            @Html.TextBox("locacaoMax", ViewBag.CurrentLocacaoMax as string, new { @placeholder = HttpUtility.HtmlDecode("Max."), @class = "effect-1 js-dinheiro" })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row">
                    <div class="col-md-12">
                        <p>Tipo de Imóvel</p>
                        @Html.DropDownList("tipoImovel", ViewBag.TipoImovelId as SelectList, "Selecione um tipo de imóvel", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="primary-color-row row">
                    <div class="col-md-12">
                        <p>Endereço</p>
                        <div class="group">
                            @Html.TextBox("endereco", ViewBag.CurrentEndereco as string, new { @type = "text", @placeholder = HttpUtility.HtmlDecode("Endereço"), @class = "effect-1" })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row">
                    <div class="col-md-12">
                        <p>Bairro</p>
                        <div class="group">
                            @Html.TextBox("bairro", ViewBag.CurrentBairro as string, new { @type = "text", @placeholder = HttpUtility.HtmlDecode("Bairro"), @class = "effect-1" })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row">
                    <div class="col-md-12">
                        <p>Número de quartos</p>
                        <div class="group">
                            @Html.TextBox("quartos", ViewBag.CurrentQuartos as string, new { @type = "number", @placeholder = HttpUtility.HtmlDecode("Nº de quartos"), @class = "effect-1" })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row">
                    <div class="col-md-12">
                        <p>Número de suítes</p>
                        <div class="group">
                            @Html.TextBox("suites", ViewBag.CurrentSuites as string, new { @type = "number", @placeholder = HttpUtility.HtmlDecode("Nº de suítes"), @class = "effect-1" })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row">
                    <div class="col-md-12">
                        <p>Número de vagas de garagem</p>
                        <div class="group">
                            @Html.TextBox("vagasGaragem", ViewBag.CurrentVagasGaragem as string, new { @type = "number", @placeholder = HttpUtility.HtmlDecode("Nº vagas de garagem"), @class = "effect-1" })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="primary-color-row row">
                    <div class="col-md-12">
                        <p>Número de banheiros</p>
                        <div class="group">
                            @Html.TextBox("banheiros", ViewBag.CurrentBanheiros as string, new { @type = "number", @placeholder = HttpUtility.HtmlDecode("Nº de banheiros"), @class = "effect-1" })
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="row buttons-row">
                    <div class="col-md-12 center">
                        <input type="submit" value="Pesquisar"  class="principal-button"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="col-md-9">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Lista de imóveis</h3>
        </div>
        <div class="panel-body imovel-list">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="@Url.Action("Details", "Imovel", new { id = item.ID })">
                            <div class="build-picture">
                                @if (item.Files.Any(f => f.FileType == ImoAnalyticsSystem.Models.FileType.Foto))
                                {
                                    <img src="~/File?id=@item.Files.First(f => f.FileType == ImoAnalyticsSystem.Models.FileType.Foto).ID" alt="foto-imovel" class="build-image" />
                                }
                                else
                                {
                                    <img src=@Url.Content( "~/Content/Images/imovel-sem-foto.jpg") alt="foto-imovel" class="build-image" />
                                }
                            </div>
                        </a>
                        <div class="build-description">
                            <a href="@Url.Action("Details", "Imovel", new { id = item.ID })"><h4 class="build-title">@Html.DisplayFor(modelItem => item.TituloImovel)</h4></a>
                            <p>@Html.DisplayFor(modelItem => item.Endereco)</p>
                            @if (item.Venda)
                            {
                                <p class="preco">Valor venda: <b>@Html.DisplayFor(modelItem => item.ValorVenda)</b></p>
                            }
                            @if (item.Locacao)
                            {
                                <p class="preco">Valor locação: <b>@Html.DisplayFor(modelItem => item.ValorLocacao)</b></p>
                            }
                            <p class="preco">IPTU: <b>@Html.DisplayFor(modelItem => item.ValorIptu)</b></p>
                        </div>
                    </div>
                </div>
            }
            <div class="col-sm-12">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentLocacao = ViewBag.CurrentLocacao, currentVenda = ViewBag.CurrentVenda,
               currentVendaMin = ViewBag.CurrentVendaMin, currentVendaMax = ViewBag.CurrentVendaMax, currentLocacaoMin = ViewBag.CurrentLocacaoMin,
               currentLocacaoMax = ViewBag.CurrentLocacaoMax, currentEndereco = ViewBag.CurrentEndereco, currentBairro = ViewBag.CurrentBairro,
               currentQuartos = ViewBag.CurrentQuartos, currentSuites = ViewBag.CurrentSuites, currentVagasGaragem = ViewBag.CurrentVagasGaragem,
               currentBanheiros = ViewBag.CurrentBanheiros, currentTipoImovel = ViewBag.CurrentTipoImovel
            }))
            </div>
        </div>
    </div>
</div>
