@model ImoAnalyticsSystem.Models.Venda

@{
    ViewBag.Title = "Cadastrar venda";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="group">
                        <p>@Html.LabelFor(m => m.DataVenda)</p>
                        @Html.EditorFor(model => model.DataVenda, new { htmlAttributes = new { @type = "text", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.DataVenda).ToHtmlString()), @class = "effect-1 js-data" } })
                        <span class="focus-border"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="group">
                        <p>@Html.LabelFor(model => model.ImovelId)</p>
                        @Html.DropDownList("ImovelId", ViewBag.ImovelId as SelectList, "Selecione um imóvel", htmlAttributes: new { @class = "" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="group">
                        <p>@Html.LabelFor(model => model.CorretorId)</p>
                        @Html.DropDownList("CorretorId", ViewBag.CorretorId as SelectList, "Selecione um corretor", htmlAttributes: new { @class = "" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="group">
                        <p>@Html.LabelFor(model => model.InteressadoId)</p>
                        @Html.DropDownList("InteressadoId", ViewBag.InteressadoId as SelectList, "Selecione um interessado", htmlAttributes: new { @class = "" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="group">
                        <p>@Html.LabelFor(m => m.ValorVenda)</p>
                        @Html.EditorFor(model => model.ValorVenda, new { htmlAttributes = new { @type = "text", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ValorVenda).ToHtmlString()), @class = "effect-1 js-dinheiro" } })
                        <span class="focus-border"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="group">
                        <p>@Html.LabelFor(m => m.CodigoVenda)</p>
                        @Html.EditorFor(model => model.CodigoVenda, new { htmlAttributes = new { @type = "text", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.CodigoVenda).ToHtmlString()), @class = "effect-1" } })
                        <span class="focus-border"></span>
                    </div>
                </div>
            </div>
            <div class="row buttons-row">
                <div class="col-md-6 center">
                    <input type="submit" value="Cadastrar" class="principal-button" />
                </div>
                <div class="col-md-6 center">
                    <div class="principal-button-div">@Html.ActionLink("Limpar", "Create")</div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
