@model ImoAnalyticsSystem.Models.Venda

@{
    ViewBag.Title = "Tem certeza que deseja deletar a venda código " + Model.CodigoVenda + " ? ";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h3 class="panel-title">@ViewBag.Title</h3>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.Corretor.NomeCompleto): </b> @Html.DisplayFor(model => model.Corretor.NomeCompleto)</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>Código do @Html.DisplayNameFor(model => model.Imovel): </b> @Html.DisplayFor(model => model.Imovel.CodigoReferencia)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.Interessado): </b> @Html.DisplayFor(model => model.Interessado.NomeCompleto)</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.DataVenda): </b> @Html.DisplayFor(model => model.DataVenda)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-4">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.ValorVenda): </b> @Html.DisplayFor(model => model.ValorVenda)</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.ComissaoImobiliaria): </b> @Html.DisplayFor(model => model.ComissaoImobiliaria)</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.ComissaoCorretor): </b> @Html.DisplayFor(model => model.ComissaoCorretor)</p>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Deletar" class="principal-button" /> <br /><br />
        <a href="@Url.Action("Details", "Venda", new { id = Model.ID })" title="Voltar para os detalhes da venda" class="voltar-icon"><i class="fa fa-arrow-left"></i></a>
    </div>
}
