@model ImoAnalyticsSystem.Models.Venda

@{
    ViewBag.Title = "Deletar venda";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Tem certeza que quer deletar a venda?</h3>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Corretor.NomeCompleto)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Corretor.NomeCompleto)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>Código do @Html.DisplayNameFor(model => model.Imovel)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Imovel.ID)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Interessado)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Interessado.NomeCompleto)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.DataVenda)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.DataVenda)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-4">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.ValorVenda)</b></p>
            </div>
            <div class="col-sm-6">
                <p>R$@Html.DisplayFor(model => model.ValorVenda)</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.ComissaoImobiliaria)</b></p>
            </div>
            <div class="col-sm-6">
                <p>R$@Html.DisplayFor(model => model.ComissaoImobiliaria)</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.ComissaoCorretor)</b></p>
            </div>
            <div class="col-sm-6">
                <p>R$@Html.DisplayFor(model => model.ComissaoCorretor)</p>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Deletar" class="principal-button" /> <br /><br />
        <a href="@Url.Action("Details", "Venda", new { id = Model.ID })" title="Voltar para os detalhes da venda" class="voltar-icon"><i class="fa fa-arrow-left"></i></a>
    </div>
}
