@model ImoAnalytics.Models.Proprietario

@{
    ViewBag.Title = "Delete";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <h3 class="panel-title">Tem certeza que quer deletar esse proprietário?</h3>
            </div>
            <div class="col-md-4 icons-edit-remove">
                <a href="@Url.Action("Edit", "Proprietario", new { id = Model.ID })" title="Editar proprietário"><i class="fa fa-edit"></i></a>
                <a href="@Url.Action("Delete", "Proprietario", new { id = Model.ID })" title="Remover proprietário"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.NomeCompleto)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.NomeCompleto)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Cpf)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Cpf)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Rg)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Rg)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.DataNascimento)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.DataNascimento)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Telefone)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Telefone)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Cep)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Cep)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Endereco)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Endereco)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Numero)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Numero)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Bairro)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Bairro)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Cidade)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Cidade)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Estado)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Estado)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.ContaBancaria)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.ContaBancaria)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Agencia)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Agencia)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Banco)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Banco)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Ativo)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Ativo)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Email)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Email)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>Quantidade de imóveis</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Imoveis.Count)</p>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Deletar" class="principal-button" /> <br /><br />
        <a href="@Url.Action("Details", "Proprietario", new { id = Model.ID })" title="Voltar para os detalhes" class="voltar-icon"><i class="fa fa-arrow-left"></i></a>
    </div>
}
