@model ImoAnalyticsSystem.Models.Fiador

@{
    ViewBag.Title = "Delete";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <h3 class="panel-title">Tem certeza que quer deletar o fiador?</h3>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.NomeCompleto)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.NomeCompleto)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Cpf)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Cpf)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Rg)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Rg)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.DataNascimento)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.DataNascimento)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Telefone)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Telefone)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Cep)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Cep)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Endereco)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Endereco)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Numero)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Numero)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Bairro)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Bairro)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Cidade)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Cidade)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Estado)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Estado)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Email)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Email)</p>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.RegistroDeImovel)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.RegistroDeImovel)</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.Renda)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.Renda)</p>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Deletar" class="principal-button" /> <br /><br />
        <a href="@Url.Action("Details", "Proprietario", new { id = Model.ID })" title="Voltar para os detalhes" class="voltar-icon"><i class="fa fa-arrow-left"></i></a>
    </div>
}