@model ImoAnalyticsSystem.Models.TipoImovel

@{
    ViewBag.Title = "Tem certeza que deseja deletar o tipo de imóvel " + Model.Tipo + "?";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h3 class="panel-title">@ViewBag.Title</h3>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-md-6">
            <div class="col-md-12">
                <p><b>@Html.DisplayNameFor(model => model.Tipo): </b> @Html.DisplayFor(model => model.Tipo)</p>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Deletar" class="principal-button" /> <br /><br />
        <a href="@Url.Action("Details", "TipoImovel", new { id = Model.ID })" title="Voltar para os detalhes" class="voltar-icon"><i class="fa fa-arrow-left"></i></a>
    </div>
}
