@using PagedList.Mvc;
@model PagedList.IPagedList<ImoAnalyticsSystem.Models.TipoImovel>

@{
    ViewBag.Title = "Tipos de imóvel";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.title</h3>
    </div>
    @using (Html.BeginForm())
    {
        <div class="panel-body search-list">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="group">
                        <p>Pesquisar tipo de imóvel por nome</p>
                        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @type = "text", @class = "effect-1" })
                        <span class="focus-border"></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="group">
                        <input type="submit" value="Pesquisar" />
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model.Count() > 0)
    {
        <div class="header-row row">
            <div class="col-md-11">
                <p>Tipo do imóvel</p>
            </div>
        </div>
        foreach (var item in Model)
        {
            <div class="primary-color-row row">
                <div class="col-md-11">
                    <p>@Html.DisplayFor(modelItem => item.Tipo)</p>
                </div>
                <div class="col-md-1">
                    <a class="link-more" href="@Url.Action("Details", "TipoImovel", new { id = item.ID })" title="Mais informações"><i class="fa fa-ellipsis-h"></i></a>
                </div>
            </div>
        }
    }
    else
    {
        if (ViewBag.noResults == true)
        {
            <div class="primary-color-row row">
                <center><p>Não existem resultados para a busca</p></center>
            </div>
        }
        else
        {
            <div class="primary-color-row row">
                <center><p>Não existem @ViewBag.title.ToLower() cadastrados</p></center>
            </div>
        }
    }
</div>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))